body{
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
}

header{
    width: 800px;
    height: 200px;
    background-color: rgb(237, 80, 80);
}

nav{
    width: 100px;
    height: 400px;
    background-color: rgb(63, 196, 63);
}

section{
    height: 400px;
    width: 700px;
    background-color: rgb(45, 45, 159);
}

footer{
    height: 200px;
    width: 800px;
    background-color: rgb(216, 216, 72);
}